<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimal</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>
<body>
    <div id="header">
        <div class="content">
            <div class="title-greeting">
                <h1>JournalApp</h1>
                <p>Hello, <span id="user-greeting"></span></p>
            </div>

            <div id="profile-icon">
                <span id="user-first-letter" ></span>
            </div>
            <div id="signOutMenu" > 
                <form  th:action="@{/logout}" method="post">
                    <button id="signOutButton"><i class="ri-logout-box-line"></i> Sign Out</button>
                </form>
            </div>
        </div>
    </div>

    <div id="main">


        <div class="loading">
            <div class="loading-icon">
                <i class="ri-loader-4-line"></i>
            </div>  
            <div class="loading-text">
                Loading...
            </div>
        </div>

        

        <div id="elements">
            <div class="add-entry-button">
                <a href="/entries/new"><i class="ri-add-fill"></i></a>
            </div>

            <div class="emptyState">
                <div class="emptyState-icon">
                    <p>No entries found... Click the + button to add a new entry.</p>
                </div>
            </div>

            <div id="card-list">
                <!-- Cards will be dynamically inserted here -->                
            </div>
        </div>
        
    </div>

    <div class="footer">
        <p>© 2025 JournalApp. All rights reserved.</p>
    </div>

    <script src="../static/js/scripts.js"></script>

    <script src="../static/js/entries.js"></script>
</body>
</html>