<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrainDump | Login</title>
     <link rel="stylesheet" th:href="@{/css/styles.css}" />
<!--     <link rel="stylesheet" href="../static/css/styles.css" />-->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
      <link
  </head>
  <body>
    <div id="auth-form-container">
      <form th:action="@{/login}" method="post" id="login-signup-form">
        <h2>Welcome Back</h2>
        <p class="subtitle">Log in to continue to <strong>BrainDump</strong></p>

        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          required
          placeholder="Enter your username"
        />

        <label for="password">Password</label>
        <div class="password-container">
            <input type="password" id="password" name="password" required placeholder="Enter your password" />
            <i class="ri-eye-line" id="togglePassword"></i>
        </div>


        <button type="submit"><i class="ri-login-box-line"></i> Login</button>

        <p class="signup-text">
          Don’t have an account?
          <a th:href="@{/signup}">Sign up</a>
        </p>
      </form>
    </div>

     <script>
      const passwordInput = document.getElementById("password");
      const togglePassword = document.getElementById("togglePassword");

      togglePassword.addEventListener("click", () => {
        const isHidden = passwordInput.getAttribute("type") === "password";
        passwordInput.setAttribute("type", isHidden ? "text" : "password");
        togglePassword.classList.toggle("ri-eye-line");
        togglePassword.classList.toggle("ri-eye-off-line");
      });
    </script>
  </body>
</html>
